

<style>
    .css{
      background: red;
    }
    .cssFalse{
      background: navajowhite;
    }
  </style>
<h2 style="background:lightblue"> custom component</h2>
<app-custom></app-custom>

<h2 style="background:lightblue">App component </h2>
<h1 [class.cssFalse]="false" class="css"> Hello {{title}}</h1>
  <h2>My favorite hero is: {{selectedhero.name}} {{selectedhero.designation}}</h2>

  <p [style.font-size.px]="40">Heroes:</p>
  <ul>
    <li *ngFor="let hero of heroes; let i = index">
      <span title =herois:{{hero.name}} (click)="selectedHero(hero)" [style.color]="'red'"
       [style.background-color]="'yellow'" style="cursor:pointer">{{i}}{{ hero.name | uppercase }} {{hero.designation}}</span>
      </li>
  </ul>
 <p *ngIf="heroes.length > 3" [ngStyle]="setMyStyles()">There are many heroes!</p>

   <div [hidden]="selectedhero"> You selected <span [ngStyle]="myStyles">{{selectedhero.id}}-{{selectedhero.name}}</span></div>
   <div *ngIf="!selectedhero"> You selected <span [ngStyle]="myStyles">{{selectedhero.id}}-{{selectedhero.name}}</span></div>


   <div [ngStyle]="{'background-color': 'lime','font-size': '20px','font-weight': 'bold'}"> hello herors ..how are you</div>


    <div [ngStyle]="{'background-color':selectedhero.name === 'angular' ? 'green' : 'red' }">Angular Color Added</div>

     <div [ngStyle]="{'color':getColor('Red')}"> Red ngstyle method called</div>
    <div [ngStyle]="{'color':getColor('Yellow')}"> yellow ngstyle method called</div>
    <div [ngStyle]="{'color':getColor('Blue')}"> Blue ngstyle method called</div> 